.nav-section {
    box-shadow: 0 6px 4px -2px rgba(181, 181, 181, 0.12);
    position: relative;
    padding: 10px;
    background-color: #3F51B5;
    height: auto;
}

.nav-section a {
    line-height: inherit !important;
}

.ant-card-body {
    box-shadow: 3px 5px 4px 2px rgba(181, 181, 181, 0.12);
}

.nav-link.active {
    background-color: #3F51B5 !important;
}

.ant-pagination-item-active {
    border-color: #3F51B5 !important;
}

.ant-pagination-item:hover {
    border-color: #3F51B5 !important;
}